<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="ryanAirApp">
  <head>
    <meta charset="utf-8" />
    <base href="https://securedeveloper.github.io/ryanair-developer-test-web-app/" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ryanair FE Test Application</title>
    <link rel="stylesheet" href="assets/css/foundation.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
    <link rel="stylesheet" href="assets/css/angucomplete-alt.css" />
    <link rel="stylesheet" href="assets/css/angular-datepicker.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  </head>
  <body>
    <div id="header" class="row expanded header clearfix" ng-controller="ryanAirAppController as ryanAirAppCtrl">
      <div class="large-12 columns">
        <h3 class="float-left">{{ryanAirAppCtrl.context.title}}</h3>
        <ul class="menu float-center">
          <li><a ui-sref="flight-finder">{{ryanAirAppCtrl.context.menu.item1}}</a></li>
          <li><a ui-sref="route-maps">{{ryanAirAppCtrl.context.menu.item2}}</a></li>
        </ul>
        <ul class="languages float-right">
          <li><img ng-src="{{ ryanAirAppCtrl.getFlagSrc('en') }}" ng-click="ryanAirAppCtrl.changeLanguage('en')" /></li>
          <li><img ng-src="{{ ryanAirAppCtrl.getFlagSrc('fr') }}" ng-click="ryanAirAppCtrl.changeLanguage('fr')" /></li>
        </ul>
      </div>
    </div>
    <!-- MAIN CONTENT -->
    <ui-view></ui-view>
    <!-- SCRIPT RESOURCES -->
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="assets/js/angular/routes.js" type="text/javascript"></script>
    <script src="assets/js/angular/ryanair.service.js" type="text/javascript"></script>
    <script src="assets/js/angular/ryanair.app.controller.js" type="text/javascript"></script>
    <script src="assets/js/angular/flight.finder.controller.js" type="text/javascript"></script>
    <script src="assets/js/angular/route.maps.controller.js" type="text/javascript"></script>
    <script src="assets/js/angular/angular.js" type="text/javascript"></script>
    <script src="assets/js/angular/angular-touch.js" type="text/javascript"></script>
    <script src="assets/js/angular/angucomplete-alt.js" type="text/javascript"></script>
    <script src="assets/js/angular/angular-datepicker.js" type="text/javascript"></script>
    <script src="assets/js/angular/angular-ui-router.js" type="text/javascript"></script>
    <script src="assets/js/angular/app.js" type="text/javascript"></script>
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/what-input.js"></script>
    <script src="assets/js/vendor/foundation.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
